body {
    height: 100vh;
    margin: 0;
}

.desktop {
    height: 100vh;

    background-color: silver;
    display: flex;

    align-items: center;
    justify-content: center;
}

.settings {
    position: absolute;

    right: 1rem;
    bottom: 1rem;
}

[data-theme="xp"] {
    .desktop {
        background-image: url('img/bliss.png');
        background-position: center;
        background-size: cover;
    }
}

[data-theme="7"] {
    .desktop {
        background-image: url('img/win7.jpg');
        background-position: center;
        background-size: cover;
    }
}

.button-row {
    justify-content: flex-end;
}